@mixin flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin transition-item {
    transition: all .75s ease-in-out;
}