@import 'utilities/variables';
@import 'utilities/mixins';

#hero-banner {
  background-image: url('../../assets/picture-house-3.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: 15px solid $color-orange;

  header {
    @include flex-row-between-center;

    width: 100%;
    height: auto;
    padding: 30px 45px;

    span {
      font-size: 5.5rem;
      color: $color-white;
      font-family: $font-romanesco;
      mix-blend-mode: difference;
      background-color: 0 0 0 0.5;
    }

    #icon-menu-burger {
      height: 50px; 
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      z-index: 100;
      color: $color-white;
      font-size: 2.5rem;
      cursor: pointer;

      #icon-open-menu {
        @include transition-item;

        display: block;
      }

      #icon-close-menu {
        @include transition-item;

        display: none;
      }
    }
  }

  #menu {
    height: 100vh;
    background-color: $color-brown;
    position: absolute;
    top: 0;
    right: -25vw;
    padding: 5vh 5vw;
    transition: all .75s ease-in-out;
    color: $color-white;
    border: 15px solid $color-orange;
    border-left: 0;

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;

      ul {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
  
        li a {
          font-size: 2.5rem;
          cursor: pointer;
          color: $color-white;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;

          svg.icon-link-menu {
            @include transition-item;

            margin-left: 5px;
            font-size: 5rem;
            visibility: hidden;
          }

          &:hover svg.icon-link-menu {
            visibility: visible;
          }
        }
      }
    }
  }
}